@import compass/css3

$mxw: 919px

.leftside
  border-right: 1px dotted #eaeaea
  @media only screen and (max-width: $mxw)
    border: none
.ask
  position: fixed
  @media only screen and (max-width: $mxw)
    position: relative
    display: block