@import compass/css3

$mxw: 919px

.leftside
  border-right: 1px dotted #eaeaea
  @media only screen and (max-width: $mxw)
    border: none
ul.faq
  list-style: decimal
  margin-left: 25px
  li
    margin-bottom: 30px
    a.question
      font-size: 18px
    .answer
      display: none
      margin-top: 5px
      padding-right: 10px
.ask
  position: fixed
  @media only screen and (max-width: $mxw)
    position: relative
    display: block