@import compass/css3
@import compass/reset

$min-width: 800px

html, body
  font-family: Tahoma, Geneva, sans-serif
  font-size: 14px
  line-height: 21px
  background: #505c72
  min-width: $min-width
  color: #252525

a, a:visited
  color: #3b58ac
  text-decoration: none
  border-bottom: 1px solid #ccd8fa

  &.borderless
    border: none
  
  &:hover
    color: #6a87da
    border-color: #6183e2

  &:active
    color: #9ab1f2
    border-color: #c1d1ff

.dark
  a, a:visited
    color: #dee2ee
    border-color: #8c9cc9

    &:hover
      color: #c2c9dd
      border-color: #5d70a6

    &:active
      color: #8c9dcb
      border-color: #5b71b0

.wrapper
  width: 85%
  padding: 15px
  margin: 0 auto
  background: white
  position: relative
  z-index: 1
  
  &.content
    +box-shadow(0 0 10px #31405a)
    +border-radius(0 0 5px 5px)
  
header.top_menu
  width: 85%
  margin: 0 auto
  border-bottom: 3px solid #ddd
  z-index: 4
  background: #323848
  position: relative
  color: #ccd8fa
  position: relative
  
  .logo
    display: inline-block
    font-size: 16px
    margin: 10px 0
    font-variant: small-caps
    margin-right: 40px

  .contacts
    position: absolute
    right: 20px
    top: 10px
    .phone
      font-size: 19px
      text-align: right
    .address
      text-align: center
      font-size: 10px
      line-height: 14px


  ul.menu_links
    position: relative
    display: inline-block
    @media only screen and (max-width: 1185px)
      display: block
      margin-top: 15px
      margin-left: -5px

    > li
      display: inline-block
    
    a
      padding: 5px 8px
      +border-radius(5px)

      span
        border-bottom: 1px solid #525a6f

    a.active, a.active:hover, a.active:active
      background: #525a6f
      color: white
      cursor: default

      span
        border: none

h1
  font-size: 36px
  font-family: 'Trebuchet MS', Arial, sans-serif
  font-weight: bold
  margin-bottom: 10px
  margin-top: 25px
  color: #31393e

h2
  padding: 10px 0
  font-size: 24px
  color: #394f5d
  margin-top: 15px
  font-family: 'Trebuchet MS', Arial, sans-serif
  font-weight: bold

.small_descr
  font-size: 12px
  color: #465158
  display: block

.lbr
  height: 10px

.leftside
  display: inline-block
  min-width: 400px
  width: 50%
  max-width: 600px
  @media only screen and (max-width: 856px)
    width: 100%
    max-width: 100%
  vertical-align: top

.rightside
  display: inline-block
  vertical-align: top
  padding-left: 25px
  min-width: 300px
  @media only screen and (max-width: 856px)
    padding: 0
  width: 40%
  max-width: 400px

.timeline
  margin-top: 15px
  border-left: 10px solid #bdc5ca
  margin-right: 25px
  padding-bottom: 10px
  margin-bottom: -15px
  
  .event
    margin-bottom: 35px
    position: relative

    .year
      margin-top: 15px
      position: absolute
      top: 0
      left: -15px
      background: #96a8b3
      border: 1px solid white
      color: White
      padding: 5px 10px
    .descr
      padding-top: 15px
      margin-left: 55px
.what_we_do
  margin-top: 15px

footer
  background: none !important
  color: #ddd
  font-size: 12px
  padding: 10px !important