@import compass/css3
@import compass/reset

$min-width: 800px

html, body
  font-family: Tahoma, Geneva, sans-serif
  font-size: 14px
  line-height: 21px
  background: #505c72
  min-width: $min-width

a, a:visited
  color: #6a87da
  text-decoration: none
  border-bottom: 1px solid #87a4f7

  &.borderless
    border: none
  
  &:hover
    color: #3b58ac
    border-color: #6183e2

  &:active
    color: #9ab1f2
    border-color: #c1d1ff

.dark
  a, a:visited
    color: #dee2ee
    border-color: #8c9cc9

    &:hover
      color: #c2c9dd
      border-color: #5d70a6

    &:active
      color: #8c9dcb
      border-color: #5b71b0

.wrapper
  width: 85%
  padding: 15px
  margin: 0 auto
  background: white
  position: relative
  z-index: 1
  &.content
    +box-shadow(0 0 10px #31405a)
    +border-radius(0 0 3px 3px)

header.top_menu
  width: 85%
  margin: 0 auto
  color: white
  padding: 10px 25px
  background: #3a4d6f
  +border-radius(0 0 7px 7px)
  +box-shadow(0 5px 0 0 #31405a)
  z-index: 4
  position: relative
  
  .logo
    display: inline-block
    font-size: 16px
    margin: 10px 0
    font-variant: small-caps
    margin-right: 20px
    
  ul.menu_links
    display: inline-block

  ul.menu_links > li
    display: inline-block
    
    a
      padding: 5px 8px
      +border-radius(5px)

      span
        border-bottom: 1px solid #8c9cc9

    a.active, a.active:hover, a.active:active
      background: #43587c
      color: white
      cursor: default

      span
        border: none

footer
  background: none !important
  color: #ddd
  font-size: 12px
  padding: 10px !important