@import compass/css3
@import compass/reset

$min-width: 800px

html, body
  font-family: Tahoma, Geneva, sans-serif
  font-size: 14px
  line-height: 21px
  background: #505c72
  min-width: $min-width
  color: #252525

a, a:visited
  color: #3b58ac
  text-decoration: none
  border-bottom: 1px solid #ccd8fa

  &.borderless
    border: none
  
  &:hover
    color: #6a87da
    border-color: #6183e2

  &:active
    color: #9ab1f2
    border-color: #c1d1ff

.dark
  a, a:visited
    color: #dee2ee
    border-color: #8c9cc9

    &:hover
      color: #c2c9dd
      border-color: #5d70a6

    &:active
      color: #8c9dcb
      border-color: #5b71b0

.wrapper
  width: 85%
  padding: 15px
  margin: 0 auto
  background: white
  position: relative
  z-index: 1
  
  &.content
    +box-shadow(0 0 10px #31405a)
    +border-radius(0 0 5px 5px)
  
header.top_menu
  width: 85%
  margin: 0 auto
  border-bottom: 3px solid #ddd
  z-index: 4
  background: #323848
  position: relative
  color: #ccd8fa
  
  .logo
    display: inline-block
    font-size: 16px
    margin: 10px 0
    font-variant: small-caps
    margin-right: 20px

  ul.menu_links
    display: inline-block

  ul.menu_links > li
    display: inline-block
    
    a
      padding: 5px 8px
      +border-radius(5px)

      span
        border-bottom: 1px solid #525a6f

    a.active, a.active:hover, a.active:active
      background: #525a6f
      color: white
      cursor: default

      span
        border: none

h1
  font-size: 36px
  font-family: Helvetica, sans-serif
  margin-bottom: 10px
  margin-top: 25px
  color: #31393e

.small_descr
  font-size: 12px
  color: #465158
  display: block

.lbr
  height: 10px

.timeline
  margin-top: 15px
  display: block
  border-left: 10px solid #bdc5ca
  width: 600px
  
  .event
    margin-bottom: 35px
    position: relative

    .year
      position: absolute
      top: 0
      left: -15px
      background: #96a8b3
      border: 1px solid white
      color: White
      padding: 5px 10px
    .descr
      margin-left: 55px

footer
  background: none !important
  color: #ddd
  font-size: 12px
  padding: 10px !important